*.iml
.idea

/target
src/gen/java/io/swagger/api/*.java
src/gen/java/io/swagger/model
src/main/webapp

.DS_Store
.idea
npm-debug.log
*.sublime-project
*.sublime-workspace
*.pyc
*.project
*.classpath
*.settings
*.csv
*.txt
